@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.growthCard {
  padding: 1vh 1vw;
  margin-bottom: 1vh;
  width: 100%;
  height: 80vh;
  margin: 3vh auto;
  /* background-color: white; */
}
.itemdiv1 {
  margin: 1vh 1vw;
  height: 60%;
}
.lefttriangle {
  height: 50%;
  color: white;
  width: 95%;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  font-size: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh auto;
}
.btn {
  background-color: #00d09c !important;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1vh 1vw;
  width: fit-content;
  padding: 1.5vh 1.5vw;
  border: 2px solid #73e9cb !important;
  float: left;
  box-shadow: inset 0 0 5px #73e9cb !important;
  font-family: "Inter", sans-serif;
}
.btn:hover,
.btn:checked,
.btn:active,
.btn::selection,
.btn:disabled {
  background-color: #00f9bb !important;
  border: 2px solid #00f9bb !important;
  box-shadow: inset 0 3px 5px #00f9bb !important;
}
.imgContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  float: left;
  align-items: center;
  margin: 5vh 3vw;
}
.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(-10px);
  animation: float 6s ease-in-out infinite;
}
.avatar img {
  width: 100%;
  height: auto;
}
.resumeData {
  color: black;
}
.resumeData h3 {
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}
.resumeData p {
  color: rgb(186, 184, 184);
  font-size: 1.2rem;
  margin-bottom: 0;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 7px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-7px);
  }
  100% {
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
@media screen and (max-width: 940px) {
  .lefttriangle {
    flex-direction: column;
    height: 40%;
    margin: 1vh 1vw;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .resumeData h3 {
    align-items: center;
    text-align: center;
  }
  .resumeData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .growthCard {
    height: fit-content;
  }
  .itemdiv1 {
    display: none;
  }
  .lefttriangle {
    flex-direction: column;
    height: fit-content;
    margin: 1vh 1vw;
    justify-content: center;
    align-items: center;
  }
}
