.growthCard {
  /* padding: 1vh 5vw; */
  padding: 1vh 1vw;
  margin-bottom: 1vh;
  width: 95%;
  height: fit-content;
  margin: 3vh auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.blink {
  color: #00d09c;
  font-size: 3rem;
  animation-name: blinkAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-shadow: 0px 0px 7px #00d09c;
}
.nonblink {
  color: #00d09c;
  font-size: 3rem;
  position: relative;
  text-shadow: 0px 0px 7px #00d09c;
  z-index: 2;
  height: 1vh;
}
.joint {
}
@keyframes blinkAnimation {
  30% {
    opacity: 0.8;
  }
  65% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
}
.line {
  height: 20vh;
  width: 3px;
  background-color: rgb(139, 255, 139);
  position: relative;
  display: flex;
  margin: 0 auto !important;
  top: 35px;
}
.graph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 3vh 1vw;
  padding: 1vh 2vw;
  align-items: center;
  font-size: 1.2rem;
  border: 2px solid #efefef;
  box-shadow: 0px 0px 5px #efefef;
  border-radius: 10px;
  display: flex;
  max-width: 50vw;
}
.contentGraph{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
