@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");
.arrangement {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Cormorant SC", serif;
  text-decoration: none;
  text-emphasis: none;
  color: black;
}
.arrangement:hover,
.arrangement:active,
.arrangement::selection {
  color: #00f9bb;
}
.col {
  justify-content: center;
  display: flex;
  align-items: center;
  align-self: end;
  margin:1vh 1vw;
  align-items: center;
}
.mobileCol{
    text-align: center;
    display: flex;
    flex-direction: column;
}
