@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");
.header-row {
  padding: 2vh 2vw;
  /* background-color: rgb(34, 255, 0); */
  color: black;
}
.arrangement {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Cormorant SC", serif;
  text-decoration: none;
  text-emphasis: none;
  color: black !important;
}
.arrangement:hover {
  color: #00f9bb !important;
}
.imgStyle {
  width: 30%;
  height: inherit;
}

.col {
  justify-content: center;
  display: flex;
  align-items: center;
  align-self: end;
}
.mobileView {
  padding: 2vh 2vw;
}
@media screen and (min-width: 900px) {
  .mobileView {
    display: none;
  }
  .header-row {
    display: flex;
  }
}
@media screen and (max-width: 940px) {
  .header-row {
    display: none;
  }
  .mobileView {
    display: flex;
  }
}
.mobileViewImg {
  width: inherit;
  height: inherit;
}
