.footer {
  background-color: black;
  font-size: 1.2rem;
  font-weight: 500;
  height: 10vh;
  text-align: center;
  display: flex;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
